.mentoa-profile-box{
    width: 293px;
    height: 424px;
    position: absolute;
    margin-top: 290px;
    margin-left: 1025px;
    background-color: transparent;
    border: 1.5px solid #cbcbcb;
    border-radius: 7px;
}

.mentoa-profile-image{
    width: 230px;
    height: 230px;
    border-radius: 7px;
    position: absolute;
    margin-top: 317px;
    margin-left: 1058px;
}

.mentoa-profile-introbox{
    width: 229px;
    height: 135px;
    border: 1px solid #b7b6b6;
    border-radius: 7px;
    position: absolute;
    background-color: transparent;
    margin-top: 563px;
    margin-left: 1058px;
}

.mentoa-profile-intro-seperate-bar{
    width: 230px;
    height: 30px;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    border-bottom: 1px solid #b7b6b6;
    position: absolute;
    margin-top: 563px;
    margin-left: 1058px;
    background-color: transparent;
}

.mentoa-profile-intro-text{
    width: 210px;
    height: 90px;
    font-size: 14px;
    text-align: left;
    line-height: 19px;
    position: absolute;
    margin-top: 603px;
    margin-left: 1070px;

    /* word-break: keep-all; */
    /* white-space: normal; */
}

