.post-container {
    width: 100%; 
    margin: 0 auto; 
    padding: 20px;
  }
  
  .community-page {
    overflow-y: auto; 
    margin: 200px 162px 0px 162px;
    padding: 20px;
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  .community-page h2 {
    width: 220px;
    border-bottom: #d3d3d3 1px solid;
    color: #0890FF;
    font-size: 29px;
    margin-top: 15px;
    margin-bottom: 5px;
  }
  
  .communityCategory {
    width: 300px;
    font-size: 20px;
    color: #333;
    padding-bottom: 5px;
    margin: 0px 0px 10px 30px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 12px;
    text-align: center;
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
  }
  
  th {
    font-size: 18px;
  }
  
  .write-button {
    background-color: #0890FF;
    color: white;
    border: none;
    width: 100px;
    height: 35px;
    font-size: large;
    border-radius: 4px;
    cursor: pointer;
    padding-bottom: 5px;
    margin: 270px 15% 5px 0px; 
    float: right; 
  }
  
  .write_icon {
    width: 18px;
    margin-left: 5px;
  }
  