
  .HoverText {
    background-color: white;
    font-size: 19px;
    line-height: 32px;
    text-align: center;
    color: #121212;
    cursor: pointer;
    transition: color 0.1s ease;
  }
  
  .HoverText.hovered {
    color: #0890FF;
  }
  
  .hover-box {
    position: absolute;
    top: 100%; 
    left: 0px;
    width: 100%;
    background-color: #BBDEff; 
    border: 1px solid #d3d3d3;
    z-index: 100;
    padding: 5px 0;
    display: flex;
    flex-direction: column;
  }

  
  .hover-box div {
    position: absolute;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #121212;
    border-bottom: 1px solid black;
    font-size: 14px;
  }
  
  .hover-box div:last-child {
    border-bottom: none; 
  }
  
  .arrow {
    margin-left: auto;
  }
  
  .hover-box div:hover {
    color: #0890FF;
    cursor: pointer;
  }
  
  /*호버 2*/
  .HoverText2 {
    background-color: white;
    font-size: 19px;
    line-height: 32px;
    text-align: center;
    color: #121212;
    cursor: pointer;
    transition: color 0.1s ease;
  }
  
  .HoverText2.hovered {
    color: #0890FF;
  }
  
  .hover-box2 {
    position: absolute;
    top: 100%; 
    left: 0;
    width: 100%;
    background-color: #BBDEff; 
    border: 1px solid #d3d3d3;
    z-index: 100;
    padding: 5px 0;
    display: flex;
    flex-direction: column;
  }

  
  .hover-box2 div {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #121212;
    border-bottom: 1px solid black;
    font-size: 14px;
  }
  
  .hover-box2 div:last-child {
    border-bottom: none; 
  }
  
  .arrow {
    margin-left: auto;
  }
  
  .hover-box2 div:hover {
    color: #0890FF;
    cursor: pointer;
  }
  /*호버3*/
  .HoverText3 {
    background-color: white;
    font-size: 19px;
    line-height: 32px;
    text-align: center;
    color: #121212;
    cursor: pointer;
    transition: color 0.1s ease;
  }
  
  .HoverText3.hovered {
    color: #0890FF;
  }
  
  .hover-box3 {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #BBDEff; 
    border: 1px solid #d3d3d3;
    z-index: 100;
    padding: 5px 0;
    display: flex;
    flex-direction: column;
  }

  
  .hover-box3 div {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #121212;
    border-bottom: 1px solid black;
    font-size: 14px;
  }
  
  .hover-box3 div:last-child {
    border-bottom: none; 
  }
  
  .arrow {
    margin-left: auto;
  }
  
  .hover-box3 div:hover {
    color: #0890FF;
    cursor: pointer;
  }

  .Categorybox{
      position: absolute;
      margin-top: 181px;
      width: 100%;
      height: 50px;
      border: 0.9px solid #b6b6b6;
  }