.footer {
    position: fixed; /* 화면 하단에 고정 */
    bottom: 0; /* 화면의 아래쪽에 위치 */
    width: 100%; /* 가로로 전체 화면을 채움 */
    display: flex; /* flexbox로 나열 */
    align-items: center; /* 수직 정렬 */
    background-color: #ffffff; /* Footer 배경색 설정 */
    padding: 17px 0; /* 위아래 여백 */
}

.intro {
    font-size: 18px;
    margin: 0 20px; /* 요소 간 간격 설정 */
    margin-left: 120px;
}

.contact {
    font-size: 18px;
    margin: 0 20px;
}

.terms-of-use {
    font-size: 18px;
    margin: 0 20px;
}

.seperate-bar3, .seperate-bar4 {
    font-size: 18px;
    margin: 0 10px; /* 구분선 간격 설정 */
    opacity: 0.6;
    font-weight: 250;
}
