.profile-box{
    width: 300px;
    height: 460px;
    position: absolute;
    margin-top: 255px;
    margin-left: 970px;
    background-color: transparent;
    border: 1.5px solid #cbcbcb;
    border-radius: 7px;
}

.profile-image{
    width: 230px;
    height: 230px;
    border-radius: 7px;
    position: absolute;
    margin-top: 285px;
    margin-left: 1007px;
}

.profile-introbox{
    width: 229px;
    height: 135px;
    border: 1px solid #b7b6b6;
    border-radius: 7px;
    position: absolute;
    background-color: transparent;
    margin-top: 530px;
    margin-left: 1007px;
}

.profile-intro-seperate-bar{
    width: 230px;
    height: 30px;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    border-bottom: 1px solid #b7b6b6;
    position: absolute;
    margin-top: 530px;
    margin-left: 1007px;
    background-color: transparent;
}

.profile-intro-text{
    width: 210px;
    height: 90px;
    font-size: 14px;
    text-align: left;
    line-height: 19px;
    position: absolute;
    margin-top: 570px;
    margin-left: 1018px;

    /* word-break: keep-all; */
    /* white-space: normal; */
}

.profile-my-point-text{
    font-size: 15px;
    font-weight: 550;
    position: absolute;
    margin-top: 680px;
    margin-left: 1010px;
}

.profile-point-icon{
    width: 20px;
    height: 20px;
    position: absolute;
    margin-top: 680px;
    margin-left: 1085px;
}

.profile-point-box{
    width: 70px;
    height: 24px;
    position: absolute;
    margin-top: 676px;
    margin-left: 1110px;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #d3d3d3;
    text-align: center;
    line-height: 24px;
    color: black;
}

.profile-point-charge-btn {
    width: 50px;
    height: 24px;
    position: absolute;
    margin-top: 676px;
    margin-left: 1188px;
    background-color: #0890ff;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: white;
}